#container {
    background-color: #003049;
    width: 90%;
    /* height: 140px; */
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#container div {
    max-width: 500px;
    max-height: 500px;
    text-align: center;
    /* flex-basis: 100px; */
    /* flex-basis defines the initial size with which an element should be added in the container whether it's horizontal or vertical. 
    If container of that element restricts that element to be of certain width or height, flex-basis gives the max possible width or height to the specified element. */
    flex-grow: 1;
    /* This property can be used for the container or the individual elements. 
    When used for the container, it enlarges all the elements equally to take up all the  white space.
    When used for individual elements, it enlarges the element to take up that much space which was specified. */
    /* max-width: 200px; */
    flex-basis: 600px;
    /* max width specifies the maximum width an element can take. */
}

div:first-of-type {
    /* flex-grow: 1; */
    flex-shrink: 1;
    /* flex-shrink shrinks the element by that valuewhen it is to be adjusted. */
}

div:nth-of-type(5) {
    /* flex-grow: 1; */
}