/* Universal selector */
/* * {
    color: black;
    background-color: cyan;
} */

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

/* 
comma can be used to select 
multiple selectors at once 
*/
#signup {
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #457b9d;
}

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 20px;
}

h1,
h2 {
    color: #1d3557
}