#container {
    height: 200vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

nav {
    font-weight: 700;
    font-size: x-large;
    text-align: center;
}

img {
    width: 30%;
}