body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1f1b29;
}

button {
    background: none;
    color: #ffa260;
    border: 2px solid #ffa260;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.2s;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 0.5em 0.5em -0.5em;
    cursor: pointer;
}