h1 {
    text-align: center;
    font-weight: normal;
    text-decoration: rgb(255, 159, 34) underline wavy;
    letter-spacing: 6px;
    font-size: 80px;
    font-family: 'Segoe UI';
}

a {
    text-decoration: none;
}

p {
    /* line-height: normal; */
    line-height: 1.9;
}